# Files
notes.md
arthisto1960_preprocess.R

# Folders
version/

# Git
.git/
.gitattributes
.gitignore

# Python
__pycache__/

# System
.DS_Store

# VSCode
.ipynb_checkpoints/
destruction.code-workspace
